/* src/styles/Header.css */
/*header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
  }
  
  header h1 {
    margin: 0;
  }*/
/*   
  .c-header {
    background: linear-gradient(to right, black, white);  
    padding: 1rem;  
    text-align: center;  
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);  
  }
  
  .c-header h1 {
    margin: 0;
    font-size: 2.5rem; 
    color: #ffd700; 
  } */

  .c-header .header-container {
    display: flex;
    justify-content: space-between; /* This aligns the child elements on opposite sides */
    align-items: center; /* Aligns items vertically centered */
    padding: 10px 20px; /* Optional: Adds some padding around the header */
}

  .c-header h1 {
      margin: 0; /* Remove any default margin */
      font-size: 24px; /* Optional: Adjust the font size as needed */
  }

  .c-header .header-container nav {
      /* Assuming <Navigation /> renders a <nav> element, apply any styles you need here */
}