/* src/styles/ServiceDescription.css */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=New+Amsterdam&display=swap');

.service-description {
  padding: 20px;
  background-color: black;
  color: white;
  /* border-radius: 8px; */
  max-width: 800px;
  margin: 0 auto; /* Center the content */
  font-family: "Cinzel", sans-serif;
}

.service-description h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #8e44ad;
  ;
}

.service-package {
  background-color: black;
  /* border: 1px solid #ddd;
  border-radius: 8px; */
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.service-package h3 {
  font-size: 1.75rem;
  margin-bottom: 10px;
  color: #8e44ad;
}

.service-package ul {
  list-style-type: none;
  padding-left: 0;
}

.service-package ul li {
  margin-bottom: 10px;
  font-size: 1.1rem;
  line-height: 1.6;
  color: white;
}

.service-package ul li::before {
  content: '•';
  color: #ff6347; /* A nice accent color */
  font-weight: bold;
  display: inline-block;
  width: 20px;
}

@media (min-width: 768px) {
  .service-description {
    padding: 40px;
  }

  .service-package {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px;
  }

  .service-package ul {
    margin-left: 20px;
  }

  .service-package h3 {
    flex: 1;
  }

  .service-package ul {
    flex: 2;
  }
}
